<!-- Content -->
<div class="mx-4" style="min-height: 80vh;">
    <div class="container mt-5" th:object="${course}">
        <!-- Course Title -->
        <div class="text-center mb-4">
            <h2 class="fw-bold">Course: <span id="courseTitle text-primary" th:text="*{title}">Course Title</span></h2>
        </div>

        <!-- Course Details Card -->
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title fw-normal fst-italic">Course Details</h5>

                <!-- Description -->
                <p class="card-text mb-2"><strong>Description:</strong> <span id="courseDescription" th:text="*{description}">[Course Description]</span></p>
                <p class="mb-2"><strong>Current Enrollment:</strong> <span id="currentEnrollment" th:text="|*{currentEnrollments} / *{maxEnrollments}|">[Current Enrollment]</span></p>

                <!-- Start Date -->
                <p class="mb-2"><strong>Start Date:</strong> <span id="startDate" th:text="*{startDate}"></span></p>

                <!-- Teacher -->
                <p class="mb-2"><strong>Teacher:</strong> <span id="teacher" th:text="*{teacher}">Nguyen Van Dong</span></p>

                <!-- Duration -->
                <p class="mb-2"><strong>Duration:</strong> <span id="duration" th:text="|*{duration} hours|">9999 hours</span></p>
            </div>
        </div>

        <!-- Enrollment and Unenrollment Buttons -->
        <div class="text-center mt-4">
            <button id="enrollBtn" class="btn btn-success me-2" th:data-id="*{id}" th:disabled="${isEnroll}">Enroll</button>
            <button id="unenrollBtn" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_unenroll_course" th:disabled="${!isEnroll}">Unenroll</button>
        </div>
    </div>

</div>

<!-- Confirm Enenroll Course -->
<div class="modal fade" id="modal_unenroll_course">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-bg-danger">
                <h4 class="modal-title">Confirm Unenroll Course</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want cancel this course enrollment?</p>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn_submit_unenroll_course" th:data-id="*{id}">Unenroll</button>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleBtnDisabled() {
        $('#enrollBtn').prop('disabled', function(i, val) {
            return !val;
        });

        $('#unenrollBtn').prop('disabled', function(i, val) {
            return !val;
        });
    }
    $(document).ready(function () {

        // Start Enroll Course
        $("#enrollBtn").click(function () {
            let id = $(this).data('id');
            $.post({
                url: "/enrollments/create",
                contentType: "application/json",
                data: JSON.stringify({
                    courseId: id
                }),
                success: function(response) {
                    createToast("info", "Enroll course successfully");
                    console.log(response);
                    toggleBtnDisabled();
                },
                error: function(xhr, status, error) {
                    // Xử lý khi có lỗi
                    createToast("danger", xhr.responseJSON.message)
                    console.log("Error:", xhr);
                }
            });
        })
        // End Enroll Course

        // Start Unenroll Course
        $("#btn_submit_unenroll_course").click(function () {
            let id = $(this).data('id');
            $.ajax({
                url: "/enrollments/delete",
                contentType: "application/json",
                type: "DELETE",
                data: JSON.stringify({
                    courseId: id
                }),
                success: function(response) {
                    createToast("info", "Unenroll course successfully");
                    console.log(response);
                    toggleBtnDisabled();
                },
                error: function(xhr, status, error) {
                    // Xử lý khi có lỗi
                    createToast("danger", xhr.responseJSON.message)
                    console.log("Error:", xhr);
                }
            });
        })
        // End Unenroll Course
    })
</script>
