<!-- Content -->
<div class="mx-4">
    <!-- Header content -->
    <div class="pt-2">
        <h2 class="ps-3 pt-2">List Course</h2>
    </div>

    <!-- Main content -->
    <div class="row">
        <div th:each="course,iterStat : ${courses}" class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 my-3">
            <div class="card shadow-sm">
                <!-- Card header -->
                <div class="card-header bg-white fs-6">
                    <div class="btn-group-for-client text-center" role="group">
                        <h6 class="card-text card-box-text text-decoration-underline p-2" th:text="${course.title}">
                            Khoá học spring boot 3 cơ bản
                        </h6>
                    </div>
                </div>

                <!-- Card body -->
                <div class="card-body">
                    <!-- Description -->
                    <span class="card-text card-box-text">
              <i>Description:</i>
              <span th:text="${course.description}">Khóa học dạy ta những thế cơ bản về spring boot, về api rest, và về nhiều thứ khác nữa</span>
            </span>
                    <br />

                    <!-- Number of students -->
                    <span class="card-text card-box-text">
              <i>Number of students:</i>
                        <span th:text="${course.maxEnrollments}">50</span>
            </span>
                    <br />

                    <!-- Start Date -->
                    <span class="card-text card-box-text">
              <i>Start Date:</i>
              <small class="badge bg-secondary" th:text="${course.startDate}">10-11-2024</small>
            </span>
                    <br />

                    <!-- Detail button -->
                    <div>
                        <a href="#" th:href="@{/courses/detail/{courseId}(courseId=${course.id})}" class="btn btn-outline-primary py-1 px-2 mt-1">Detail</a>
                    </div>
                </div>
            </div>
        </div>

<!--        Example -->
<!--        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 my-3">-->
<!--            <div class="card shadow-sm">-->
<!--                &lt;!&ndash; Card header &ndash;&gt;-->
<!--                <div class="card-header bg-white fs-6">-->
<!--                    <div class="btn-group-for-client text-center" role="group">-->
<!--                        <h6 class="card-text card-box-text text-decoration-underline p-2">-->
<!--                            Khoá học spring boot 3 cơ bản-->
<!--                        </h6>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Card body &ndash;&gt;-->
<!--                <div class="card-body">-->
<!--                    &lt;!&ndash; Description &ndash;&gt;-->
<!--                    <span class="card-text card-box-text">-->
<!--              <i>Description:</i>-->
<!--              Khóa học dạy ta những thế cơ bản về spring boot, về api rest, và về nhiều thứ khác nữa-->
<!--            </span>-->
<!--                    <br />-->

<!--                    &lt;!&ndash; Number of students &ndash;&gt;-->
<!--                    <span class="card-text card-box-text">-->
<!--              <i>Number of students:</i>-->
<!--            </span>-->
<!--                    <br />-->

<!--                    &lt;!&ndash; Start Date &ndash;&gt;-->
<!--                    <span class="card-text card-box-text">-->
<!--              <i>Start Date:</i>-->
<!--              <small class="badge bg-secondary">10-11-2024</small>-->
<!--            </span>-->
<!--                    <br />-->

<!--                    &lt;!&ndash; Detail button &ndash;&gt;-->
<!--                    <div>-->
<!--                        <a href="#" class="btn btn-outline-primary py-1 px-2 mt-1">Detail</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</div>