<!-- Content -->
<div class="mx-4">
    <!-- Header content -->
    <div class="pt-2">
        <h2 class="ps-3 pt-2">List Course</h2>
    </div>

    <!-- Main content -->
    <div class="row">
        <div th:each="course,iterStat : ${courses.data}" class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 my-3" th:object="${course}"
             th:with="isFull=${course.currentEnrollments >= course.maxEnrollments},isStarted=${course.startDate.isBefore(T(java.time.LocalDate).now())}">
            <div class="card shadow-sm">
                <!-- Card header -->
                <div class="card-header bg-white fs-6">
                    <div class="btn-group-for-client text-center" role="group">
                        <h6 class="card-text card-box-text text-decoration-underline p-2" th:text="*{title}">
                            Khoá học spring boot 3 cơ bản
                        </h6>
                    </div>
                </div>

                <!-- Card body -->
                <div class="card-body">
                    <!-- Description -->
                    <span class="card-text card-box-text">
              <i>Description:</i>
              <span th:text="*{description}">Khóa học dạy ta những thế cơ bản về spring boot, về api rest, và về nhiều thứ khác nữa</span>
            </span>
                    <br />

                    <!-- Number of students -->
                    <span class="card-text card-box-text">
              <i>Number of students:</i>
                        <span th:text="*{maxEnrollments}">50</span>
            </span> <br />

              <!-- Status -->
            <span class="card-text card-box-text">
                <i>Status:</i>
                <small class="badge bg-success" th:if="${!(isFull || isStarted)}">Available</small>
                    <small class="badge bg-danger" th:if="${isFull && !isStarted}">Full</small>
                    <small class="badge bg-danger" th:if="${isStarted}">Started</small>
            </span>
                    <br />

                    <!-- Detail button -->
                    <div>
                        <a href="#" th:href="@{/courses/detail/{courseId}(courseId=${course.id})}" class="btn btn-outline-primary py-1 px-2 mt-1">Detail</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Pagination-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" >
                    <a
                            class="page-link"
                            th:href="@{/courses/all(page=${courses.currentPage - 1})}"
                            th:if="${courses.currentPage > 1}"
                    >Previous</a>
                </li>

                <li
                        class="page-item"
                        th:class="${i == courses.currentPage ? 'active' : ''}"
                        th:each="i : ${#numbers.sequence(1, courses.totalPages)}"
                        th:if="${courses.totalPages > 0}"
                >
                    <a
                            class="page-link"
                            th:href="@{/courses/all(page=${i})}"
                            th:text="${i}"
                    >1</a>
                </li>

                <li class="page-item">

                    <a
                            class="page-link"
                            th:href="@{/courses/all(page=${courses.currentPage + 1})}"
                            th:if="${courses.currentPage < courses.totalPages}"
                    >Next</a
                    >
                </li>
            </ul>
        </nav>
        </nav>
    </div>

</div>