<!-- Content -->
<div class="mx-4" style="min-height: 80vh;">
    <!-- Header content -->
    <div class="pt-2">
        <h2 class="ps-3 pt-2">List Course</h2>
    </div>

    <!-- Main content -->
    <div class="mt-4">
        <div id="simple_table">
            <table class="table table-striped table-bordered text-nowrap table-hover">
                <thead class="text-bg-success">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Title</th>
                    <th scope="col">Enrollment</th>
                    <th scope="col">Started Date</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="course, iterStat : ${courses.getData()}" th:object="${course}">
                    <th scope="row" th:text="${iterStat.count}">1</th>
                    <td th:text="*{title}">Khoa hoc spring boot nang cao 1</td>
                    <td th:text="|*{currentEnrollments}/*{maxEnrollments}|">0/50</td>
                    <td th:text="*{startDate}">2024-12-01</td>
                    <td th:text="*{teacher}">Nguyen Van Dong</td>
                    <td>
                        <a class="btn btn-success" href="/courses/all" th:href="@{/courses/detail/{courseId}(courseId=${course.id})}" type="button">Detail</a>
                        <button class="btn btn-danger btn-unenroll-course" data-bs-target="#unenroll_course_modal" data-bs-toggle="modal"
                                type="button" th:data-id="*{id}" >
                            Unenroll
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--Pagination-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" >
                        <a
                                class="page-link"
                                th:href="@{/courses/my-course(page=${courses.currentPage - 1})}"
                                th:if="${courses.currentPage > 1}"
                        >Previous</a>
                    </li>

                    <li
                            class="page-item"
                            th:class="${i == courses.currentPage ? 'active' : ''}"
                            th:each="i : ${#numbers.sequence(1, courses.totalPages)}"
                            th:if="${courses.totalPages > 0}"
                    >
                        <a
                                class="page-link"
                                th:href="@{/courses/my-course(page=${i})}"
                                th:text="${i}"
                        >1</a>
                    </li>

                    <li class="page-item">

                        <a
                                class="page-link"
                                th:href="@{/courses/my-course(page=${courses.currentPage + 1})}"
                                th:if="${courses.currentPage < courses.totalPages}"
                        >Next</a
                        >
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- Confirm Unenroll course modal -->
<div class="modal fade" id="unenroll_course_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-bg-danger">
                <h4 class="modal-title">Confirm Unenroll Course</h4>
                <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want cancel this course enrollment?</p>
            </div>

            <div class="modal-footer justify-content-between">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" id="btn_submit_unenroll_course" type="button">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        // Start unenroll course

        // 1. transfer courseId to unenroll modal
        $(".btn-unenroll-course").click(function () {
            $("#btn_submit_unenroll_course").val($(this).data('id'));
        })

        // 2. unenroll course
        $("#btn_submit_unenroll_course").click(function () {
            let id = $(this).val();

            $.ajax({
                url: "/enrollments/delete",
                contentType: "application/json",
                type: "DELETE",
                data: JSON.stringify({
                    courseId: id
                }),
                success: function(response) {
                    createToast("info", "Unenroll course successfully");
                    console.log(response);
                    setTimeout(function() {
                        window.location.reload()
                    }, 1500);
                },
                error: function(xhr, status, error) {
                    // Xử lý khi có lỗi
                    createToast("danger", xhr.responseJSON.message)
                    console.log("Error:", xhr);
                }
            });
        })

        // End unenroll course
    })
</script>